In [1]:
import pandas as pd
#import d6tstack

#from openpyxl import Workbook, load_workbook
from pandas import ExcelWriter
from pandas import ExcelFile
import numpy as np

In [2]:
linkcode=pd.read_excel('linkdata.xlsx')
delaydata=pd.read_excel('delaydatafilter.xlsx')
link=linkcode.values.tolist()
delay=delaydata.values.tolist()

In [3]:
delaydata.columns

Index([u'trainno', u'from', u'to', u'delay'], dtype='object')

In [4]:
towrite1  = pd.DataFrame(columns=['id','trainno', 'linkid','delay'])
#towrite=towrite.append({'trainno':trainno, 'from':y,'to':z,'delay':w}, ignore_index=True)

In [5]:
k=0
for i in range(0,len(delay)):
    fromst=delay[i][1]
    tost=delay[i][2]
    delayd=delay[i][3]
    for j in range(0,len(link)):
        if(fromst==link[j][1] and tost==link[j][2]):
            
            towrite1=towrite1.append({'id':k,'trainno':delay[i][0], 'linkid':int(link[j][0]),'delay':delayd}, ignore_index=True)
            if(link[j][0]==240):
                print(j)
            k=k+1

In [6]:
towrite1

        id trainno linkid delay
0        1   12625    154    25
1        2   12625      9    24
2        3   12625     30    25
3        4   12625     23    28
4        5   12625    109    33
5        6   12625    214    34
6        7   12625    208    31
7        8   12625    187    31
8        9   12625    176    36
9       10   12625     99    19
10      11   12625    201    27
11      12   12625    103    31
12      13   12625     85    30
13      14   12625    183    31
14      15   12625    122    34
15      16   12625     71    34
16      17   12625    107    30
17      18   12625    159    30
18      19   12625     77    48
19      20   12625    222    34
20      21   12625    154    21
21      22   12625      9    15
22      23   12625     30    15
23      24   12625     23    19
24      25   12625    109    24
25      26   12625    214    23
26      27   12625    208    18
27      28   12625    187    16
28      29   12625    176    20
29      30   12625     99     6
...    ...     ...    ...   ...
5167  5168   12522    152    10
5168  5169   12522    102    18
5169  5170   12522     20    24
5170  5171   12522    118    25
5171  5172   12522    130    31
5172  5173   12522     82    36
5173  5174   12522    121    13
5174  5175   12522    183    17
5175  5176   12522    122     2
5176  5177   12522     71    12
5177  5178   12522    107    10
5178  5179   12522    159    13
5179  5180   12522     77    22
5180  5181   12522    222    37
5181  5182   12522      4    35
5182  5183   12522    152    13
5183  5184   12522    102    21
5184  5185   12522     20    27
5185  5186   12522    118    29
5186  5187   12522    130    34
5187  5188   12522     82    39
5188  5189   12522    121    13
5189  5190   12522    183    21
5190  5191   12522    122     2
5191  5192   12522     71    14
5192  5193   12522    107    10
5193  5194   12522    159    17
5194  5195   12522     77    26
5195  5196   12522    222    47
5196  5197   12522      4    40

[5197 rows x 4 columns]

In [7]:
writer = ExcelWriter('linkdatalist.xlsx')
towrite1.to_excel(writer,'Sheet1',index=False)
writer.save()

In [7]:
dfr=pd.read_excel('linkdatalist.xlsx')
dfrlist=towrite1.values.tolist()
dfo=pd.read_excel('Official_Schedules_filtered.xlsx')

In [8]:
dfolist=dfo.values.tolist()
dfli=pd.read_excel('linkdata.xlsx')
dflist=dfli.values.tolist()

In [9]:
towrite4 = pd.DataFrame(columns=['id','delay', 'time'])

In [10]:
print(dflist[24][1])

MVLK

In [11]:
'''fromsta=" "
tosta=" "
l=0
for i in range(0,10):
    
    li=dfrlist[i][2]
    print(li)
    
    li=int(li)
    trainno=dfrlist[i][1]
    #print("link id:")
    #print(dflist[li][0])
    for k in range(0,len(dflist)):
        if(li==dflist[k]):
            fromsta=dflist[li][1]
            tosta=dflist[li][2]
            break
    print(fromsta)
    print(tosta)
    for j in range(0,len(dfolist)):
        if(trainno==dfolist[j][0]):
            #print(trainno)
            if(fromsta==dfolist[j][1] and tosta==dfolist[j][2]):
                towrite4=towrite4.append({'id':dfrlist[i][0],'delay':dfrlist[i][3],'time':dfolist[j][3]}, ignore_index=True)
                print(dfolist[j][1])
                l=l+1
                break
                

  '''

'fromsta=" "\ntosta=" "\nl=0\nfor i in range(0,10):\n    \n    li=dfrlist[i][2]\n    print(li)\n    \n    li=int(li)\n    trainno=dfrlist[i][1]\n    #print("link id:")\n    #print(dflist[li][0])\n    for k in range(0,len(dflist)):\n        if(li==dflist[k]):\n            fromsta=dflist[li][1]\n            tosta=dflist[li][2]\n            break\n    print(fromsta)\n    print(tosta)\n    for j in range(0,len(dfolist)):\n        if(trainno==dfolist[j][0]):\n            #print(trainno)\n            if(fromsta==dfolist[j][1] and tosta==dfolist[j][2]):\n                towrite4=towrite4.append({\'id\':dfrlist[i][0],\'delay\':dfrlist[i][3],\'time\':dfolist[j][3]}, ignore_index=True)\n                print(dfolist[j][1])\n                l=l+1\n                break\n                \n\n  '

In [20]:
fromsta=" "
tosta=" "
trainno=""
idinsert=0
flag=0
l=0
for i in range(0,len(dfr)):
    flag=0
    idinsert=dfrlist[i][0]
    trainno=dfrlist[i][1]
    linkid=dfrlist[i][2]
    delay=dfrlist[i][3]
    #print(linkid)
    #print(dflist[linkid-1][0])
    for k in range(0,len(dflist)):
        if(linkid==dflist[k][0]):
            fromsta=dflist[k][1]
            tosta=dflist[k][2]
            break
    for j in range(0,len(dfolist)):
        if(trainno==dfolist[j][0]):
            #print(trainno)
            if(fromsta==dfolist[j][1] and tosta==dfolist[j][2]):
                towrite4=towrite4.append({'id':idinsert,'delay':delay,'time':dfolist[j][3]}, ignore_index=True)
                #print(dfolist[j][1])
                l=l+1
                flag=1
                break
    if(flag!=1):
        print(idinsert)

1199
1232
1265
1298
1331
1364
1397
1430
1463
1496
3988
3989
4008
4009
4028
4029
4048
4049
4068
4069
4088
4089
4108
4109
4128
4129
4148
4149
4168
4169

In [22]:
print(dfrlist[1199][2])

30

In [14]:
towrite4

        id delay      time
0        1    25  11:49:00
1        2    24  12:22:00
2        3    25  12:58:00
3        4    28  13:09:00
4        5    33  13:18:00
5        6    34  13:29:00
6        7    31  13:44:00
7        8    31  14:07:00
8        9    36  14:39:00
9       10    19  15:40:00
10      11    27  16:03:00
11      12    31  17:07:00
12      13    30  18:04:00
13      14    31  18:42:00
14      15    34  19:52:00
15      16    34  20:48:00
16      17    30  21:50:00
17      18    30  22:52:00
18      19    48  00:43:00
19      20    34  02:00:00
20      21    21  11:49:00
21      22    15  12:22:00
22      23    15  12:58:00
23      24    19  13:09:00
24      25    24  13:18:00
25      26    23  13:29:00
26      27    18  13:44:00
27      28    16  14:07:00
28      29    20  14:39:00
29      30     6  15:40:00
...    ...   ...       ...
5127  5158    10  10:33:00
5128  5159    18  10:44:00
5129  5160    24  10:59:00
5130  5161    25  11:09:00
5131  5162    31  11:32:00
5132  5163    36  11:54:00
5133  5164    13  13:04:00
5134  5165    17  13:30:00
5135  5166     2  15:32:00
5136  5167    12  16:18:00
5137  5168    10  17:10:00
5138  5169    13  18:12:00
5139  5170    22  19:48:00
5140  5171    37  20:50:00
5141  5172    35  23:05:00
5142  5173    13  10:33:00
5143  5174    21  10:44:00
5144  5175    27  10:59:00
5145  5176    29  11:09:00
5146  5177    34  11:32:00
5147  5178    39  11:54:00
5148  5179    13  13:04:00
5149  5180    21  13:30:00
5150  5181     2  15:32:00
5151  5182    14  16:18:00
5152  5183    10  17:10:00
5153  5184    17  18:12:00
5154  5185    26  19:48:00
5155  5186    47  20:50:00
5156  5187    40  23:05:00

[5157 rows x 3 columns]

In [15]:
writer = ExcelWriter('delaydatafinal.xlsx')
towrite4.to_excel(writer,'Sheet1',index=False)
writer.save()

In [16]:
df2=pd.read_excel('delaydatafinal.xlsx')
df3=df2.values.tolist()

In [17]:
df4=list(df2['id'])

In [18]:
len(df4)

5157