In [17]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import numpy as np

df = pd.DataFrame({'a':[1,3,5,7,4,5,6,4,7,8,9],
                   'b':[3,5,6,2,4,6,7,8,7,8,9]})

df1 = pd.DataFrame({'a':[1,3,5,7,4,5,6,4,7,8,9],
                   'b':[3,5,6,2,4,6,7,8,7,8,9]})
df=df.append(df1)
df

    a  b
0   1  3
1   3  5
2   5  6
3   7  2
4   4  4
5   5  6
6   6  7
7   4  8
8   7  7
9   8  8
10  9  9
0   1  3
1   3  5
2   5  6
3   7  2
4   4  4
5   5  6
6   6  7
7   4  8
8   7  7
9   8  8
10  9  9

In [12]:
writer = ExcelWriter('Pandas-Example2.xlsx')
df.to_excel
df.to_excel(writer,'Sheet1',index=False)
writer.save()

In [14]:

df1=pd.read_excel('Pandas-Example2.xlsx')
df1

    a  b
0   1  3
1   3  5
2   5  6
3   7  2
4   4  4
5   5  6
6   6  7
7   4  8
8   7  7
9   8  8
10  9  9